* {
  margin: 0;
  padding: 0;
}

/* Header Section */

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%; /* may have to fix this*/
  border-bottom: solid 1px black;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  /*position: fixed; may have to remove this later*/
  /*z-index: 1;  this too*/
  background-color: #FFF;
}

.left {
  margin-left: auto;
}

.mytimes {
  padding-left: 15px;
  color: mediumaquamarine;
}

a {
padding: 0 10px;

}

/* End Header Section */


/* Start Main Container */

.main {
  display: flex;
  margin-top: 20px;
}

div {
  border: solid 3px black;
}

.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}



.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}
