* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

.left {
  margin-left: auto;
}

.mytimes {
  padding-left: 10px;
}

a {
padding: 15px;
}
